body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  height: 35px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-size: 35px;
  line-height: 100%;
  margin: 0;
}
.text {
  height: 21px;
  width: 513px;
  display: flex;
  justify-content: space-between;
}
.sp1 {
  width: 124px;
  height: 17px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 104.5%;
}
span {
  line-height: 104.5%;
}
a {
  color: #000;
  text-decoration: none;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  line-height: 104.5%;
  font-size: 14px;
}

.container {
  height: 746px;
  width: 1162px;
  display: flex;
  flex-direction: column;
}
.header {
  height: 101px;
  width: 513px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.line {
  border-top: 1px solid black;
  width: 87px;
  margin-top: 22.5px;
  margin-bottom: 22.5px;
}
.image {
  height: 588px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.im {
  height: 284px;
  width: 283px;
  margin-top: 10px;
}
.empty {
  height: 57px;
}
